body {
  -webkit-font-smoothing: antialiased;
}

.navbar {
  border: 0;
}

.navbar-brand img {
  height: 84px;
}

.navbar-nav > li > a {
  color: #1f1f1f;
  font-size: 1.3em;
  padding: 35px 15px;
  margin: 0 0 0 15px;
  border-top: 5px solid transparent;
  transition: all 0.1s ease;
  font-weight: 300;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:hover {
  background: none;
  color: #477f98;
  border-top-color: #477f98;
}

.in .navbar-nav > li > a,
.collapsing .navbar-nav > li > a {
  padding: 15px 30px 15px 25px;
  border: 0;
  border-left: 5px solid transparent;
  margin: 0;
}

.in .navbar-nav > li > a.active,
.in .navbar-nav > li > a:hover,
.collapsing .navbar-nav > li > a.active,
.collapsing .navbar-nav > li > a:hover {
  border-left-color: #477f98;
}

.navbar-toggle {
  padding: 40px;
}

.icon-bar {
  background: #000;
}

.navbar-collapse {
  box-shadow: none;
}

.navbar-collapse.collapsing,
.navbar-collapse.in {
  overflow-y: hidden;
  float: none !important;
  padding-bottom: 0;
}

.footer {
  border-top: 1px solid #dbdbdb;
  height: 80px;
  line-height: 80px;
  opacity: 0.8;
  margin-top: 50px;
}

.footer:hover {
  opacity: 1;
}

.footer a {
  font-weight: bold;
}

.footer a i {
  font-size: 1.5em;
  line-height: 1.5em;
  position: relative;
  top: 5px;
}

.footer a:hover {
  text-decoration: none;
  color: #000;
}

.footer .pull-right span {
  margin-left: 15px;
}

h1 {
  font-family: 'HelveticaNeue-light';
  font-size: 3.2em;
  margin: 10px 0 30px;
}

h2 {
  font-family: 'HelveticaNeue-light';
}

p {
  opacity: 0.9;
  margin: 20px 0;
  font-size: 1.2em;
  line-height: 1.6em;
}

p.desc {
  font-size: 1.5em;
  line-height: 1.5em;
}

.post > div {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.post:last-child > div {
  border-bottom: 0;
}

.post .title a {
  font-size: 2.5em;
  font-family: 'HelveticaNeue-light';
  color: #000;
  opacity: 0.8;
}

.post .meta {
  font-size: 1.1em;
  padding: 5px 0 10px;
  font-weight: 500;
}

.post .more {
  display: inline-block;
  font-weight: bold;
  margin: 10px 0;
}
