body {
  -webkit-font-smoothing: antialiased;
}

.navbar-brand img {
  height: 84px;
}

.navbar-nav > li > a {
  color: #fff;
  font-size: 1.3em;
  padding: 20px 15px;
  margin: 20px 0 0 15px;
  border-bottom: 2px solid transparent;
  transition: all 0.1s ease;
}

.navbar-nav > li > a:hover {
  background: none;
  border-bottom-color: #fff;
}

.navbar-toggle {
  padding: 40px;
}

.icon-bar {
  background: #fff;
}

.navbar-collapse {
  box-shadow: none;
}

.navbar-collapse.collapsing,
.navbar-collapse.in {
  overflow-y: hidden;
  float: none !important;
  padding-bottom: 0;
}

.header-hero {
  color: #fff;
  background: url(/images/bg-pattern-hero.jpg);
}

.hero-unit .btn {
  border-radius: 0;
  border-color: transparent;
  padding: 10px 25px;
  margin: 10px;
  font-size: 1.2em;
  transition: all 0.1s ease;
}

.hero-unit .btn-primary {
  background: #34738c;
}

.hero-unit .btn-primary:hover {
  background: #336b80;
}

.hero-unit .btn-default {
  color: #fff;
  background: #252c2e;
  border-color: #fff;
}

.hero-unit .btn-default:hover {
  background: #fff;
  color: #252c2e;
}

.hero-unit {
  text-align: center;
  padding: 50px 0;
}

.hero-unit.step {
  color: #fff;
  background: url(/images/bg-pattern-steps.jpg);
}

.hero-unit.step .dark {
  background-color: rgba(0, 0, 0, 0.3);
}

.hero-unit.tight {
  padding-bottom: 0;
}

.hero-unit p {
  padding: 15px 0;
}

.hero-unit h1 {
  margin-top: 0;
  font-family: 'HelveticaNeue-Light';
  font-size: 3.8em;
}

.hero-unit .subheader {
  font-size: 1.7em;
  line-height: 1.7em;
}

.hero-unit .subheader2 {
  font-size: 1.4em;
  line-height: 1.7em;
}

.big-icons {
  font-size: 4em;
  opacity: 0.3;
}

h1#why-use-crypton {
  font-size: 2.3em;
}

h1#how-crypton-works {
  margin-bottom: 50px;
  color: #fff;
  font-size: 44px;
}

.work-step-counter {
  color: #a9b2b5;
  text-transform: uppercase;
  font-weight: bold;
}

.work-step-title {
  color: #fff;
  font-size: 30px;
  margin: 0 0 10px;
}

.work-step-description {
  color: #fff;
  font-size: 16px;
  line-height: 1.5em;
}

.work-step-code {
  color: #fff;
  font-size: 16px;
  font-family: monospace;
  background: #111;
  opacity: 0.8;
  border-radius: 0;
  border: 0;
  margin-top: 20px;
}

.asciicast {
  padding: 0 !important;
  margin: 0 !important;
  height: 375px;
}

.work-step-image {
  max-height: 375px;
  max-width: 100%;
}

.vertical-center {
  padding: 100px 20px;
}

.notification-hero {
  color: #fff;
  background: url(/images/bg-pattern-hero.jpg);
}

.notification-hero h1 {
  font-size: 3.4em;
  line-height: 1.3em;
  padding-bottom: 30px;
}

#notification-form {
  padding-bottom: 30px;
}

#notification-form input {
  outline: 0;
  border: 0;
  font-family: 'HelveticaNeue';
  -webkit-font-smoothing: antialiased;
}

#notification-form input[type="email"] {
  padding: 11px 20px;
  width: 300px;
  color: #000;
  font-size: 16px;
}

#notification-form input[type="submit"] {
  margin: -5px 0 0 -4px;
}

.featured a {
  text-decoration: none;
}

.featured a img {
  opacity: 0.5;
}

.featured a:hover img {
  opacity: 1;
}

.footer {
  border-top: 1px solid #dbdbdb;
  padding: 30px 0;
  opacity: 0.9;
}

.footer a {
  font-weight: bold;
}

.footer a i {
  font-size: 1.5em;
  line-height: 1.5em;
  position: relative;
  top: 5px;
}

.footer a:hover {
  text-decoration: none;
  color: #000;
}

.footer .pull-right span {
  margin-left: 15px;
}
