body {
  -webkit-font-smoothing: antialiased;
}

.navbar-brand img {
  height: 84px;
}

.navbar-nav > li > a {
  color: #fff;
  font-size: 1.3em;
  padding: 20px;
  margin: 20px 0 0 20px;
  border-bottom: 2px solid transparent;
  transition: all 0.1s ease;
}

.navbar-nav > li > a:hover {
  background: none;
  border-bottom-color: #fff;
}

.header-hero {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: #fff;
}

.hero-unit .btn {
  border-radius: 0;
  border-color: transparent;
  padding: 10px 25px;
  margin: 10px;
  font-size: 1.2em;
  transition: all 0.1s ease;
}

.hero-unit .btn-primary {
  background: #34738c;
}

.hero-unit .btn-primary:hover {
  background: #336b80;
}

.hero-unit .btn-default {
  color: #fff;
  background: #252c2e;
  border-color: #fff;
}

.hero-unit .btn-default:hover {
  background: #fff;
  color: #252c2e;
}

.hero-unit {
  text-align: center;
  padding: 50px 0;
}

.hero-unit.tight {
  padding-bottom: 0;
}

.hero-unit p {
  padding: 15px 0;
}

.hero-unit h1 {
  font-family: 'HelveticaNeue-Light';
}

.hero-unit .subheader {
  font-size: 1.5em;
  line-height: 1.6em;
}

.big-icons {
  font-size: 3em;
  margin: 15px 0 -15px;
  opacity: 0.3;
}

.hero-unit.step {
  color: #fff;
}

h1#how-crypton-works {
  margin-bottom: 50px;
  color: #fff;
  font-size: 44px;
}

.work-step-counter {
  color: #a9b2b5;
  text-transform: uppercase;
  font-weight: bold;
}

.work-step-title {
  color: #fff;
  font-size: 30px;
  margin: 10px 0;
}

.work-step-description {
  color: #fff;
  font-size: 16px;
}

.work-step-code {
  color: #fff;
  font-size: 16px;
  font-family: monospace;
  background: #111;
  opacity: 0.8;
  border-radius: 0;
  border: 0;
  margin-top: 20px;
}

.asciicast {
  padding: 0 !important;
  margin: 0 !important;
  height: 375px;
}

.work-step-image {
  max-height: 375px;
}

.vertical-center {
  float: none;
  display: table-cell;
  vertical-align: middle;
}

.notification-hero {
  color: #fff;
}

.notification-hero h1 {
  font-size: 40px;
  padding-bottom: 30px;
}

#notification-form input {
  outline: 0;
  border: 0;
  font-family: 'HelveticaNeue';
  -webkit-font-smoothing: antialiased;
}

#notification-form input[type="email"] {
  padding: 11px 20px;
  width: 300px;
  color: #000;
  font-size: 16px;
}

#notification-form input[type="submit"] {
  margin: -5px 0 0 -4px;
}

.featured a {
  text-decoration: none;
}

.featured a img {
  opacity: 0.5;
}

.featured a:hover img {
  opacity: 1;
}

.footer {
  border-top: 1px solid #dbdbdb;
  padding: 30px 0;
  opacity: 0.9;
}

.footer a {
  font-weight: bold;
}

.footer .pull-right span {
  margin-left: 15px;
}
