* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font: 20px 'HelveticaNeue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

header {
  padding: 50px;
}

div {
    padding: 0 50px;
}

header, div {
  opacity: 0.9;
  line-height: 28px;
  text-align: justify;
}

#github {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #fff;
  font-size: 18px;
  color: #2e3a47;
  border-radius: 4px;
  position: absolute;
  left: 400px;
  top: 82px;
}

header {
  background: #0096d6;
  color: #fff;
}

.s {
    display: table;
}

.s > div, .s > img {
    display: table-cell;
    vertical-align: middle;
}

.s > div {
    width: 66%;
}

.s > div.img {
    width: 33%;
    padding: 0;
}

.img img {
    width: 100%;
    vertical-align: middle;
}

p {
}

a {
  color: #0096d6;
}

small {
  opacity: 0.5;
  font-size: 14px;
}

.center {
  text-align: center;
}
