body {
  font: 20px 'SourceSansProRegular', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

header, div {
  opacity: 0.9;
}

header {
  padding: 50px;
  background: #0054a6;
  color: #fff;
  margin-bottom: 50px;
}

footer {
    margin-bottom: 20;
    text-align: center;
    vertical-align: middle;
}

#main {
    padding: 0 50px;
    width: 70%;
}

.quest h1 {
    font-family: SourceSansProBold;
    font-weight: normal;
    margin-left: 25px;
    margin-bottom: 0;
    line-height: 1.1em;
    -webkit-font-smoothing: antialiased;
}

.qbod {
    display: table;
    width:100%;
}

.qside {
    width: 33%;
    padding-right: 10px;
}

.qside img {
    width: 100%;
    vertical-align: top;
}

.qtext {
    width: 66%;
    text-align: justify;
}

.qbod > .qtext, .qbod > .qside {
    display: table-cell;
}

a {
  color: #0054a6;
}

.small {
  opacity: 0.5;
  font-size: 14px;
}

.center {
  text-align: center;
}
