<% 
	title="Crypton.io | Connect with Us"
	currentBody="body-connect"
	selected=""
%>

<div class="wrapper no-bg">
	<div class="container center">
		<div class="row">
			<h1 class="smaller dark box col2">Connect with Crypton</h1>
		</div>

		<div class="row">
			<div class="box rounded three col2">
				<a href="https://twitter.com/crypton_io" target="_blank">
					<h3 class="box-subheading">
						<span class="icon"><i class="ss-icon">&#xF611;</i></span>
						CRYPTON TWITTER</h4>
					<p class="box-info">@crypton_io</p>
				</a>
			</div>
			
			<div class="box rounded three">
				<a href="https://twitter.com/spideroak" target="_blank">
					<h3 class="box-subheading">
						<span class="icon"><i class="ss-icon">&#xF611;</i></span>
						SPIDEROAK TWITTER</h4>
					<p class="box-info">@spideroak</p>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="box rounded three col2">
				<a href="https://github.com/spideroak/crypton/" target="_blank">
					<h3 class="box-subheading">
						<span class="icon"><i class="ss-icon">&#xF670;</i></span>
						GITHUB</h4>
					<p class="box-info">github.com/SpiderOak/crypton</p>
				</a>
			</div>
			
			<div class="box rounded three">
				<a href="https://spideroak.com/blog/" target="_blank">
					<h3 class="box-subheading">
						<span class="icon"><i class="ss-icon">&#xE310;</i></span>
						SPIDEROAK BLOG</h4>
					<p class="box-info">spideroak.com/blog</p>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="box rounded three col2">
				<a href="https://crypton.io/mailman/listinfo/crypton-discussion">
					<h3 class="box-subheading">
						<span class="icon"><i class="ss-icon">&#x2709;</i></span>
						MAILING LIST</h4>
					<p class="box-info">Join our mailing list</p>
				</a>
			</div>
			
			<div class="box rounded three">
				<a href="irc://irc.oftc.net:6667" target="_blank">
					<h3 class="box-subheading">
						<span class="icon"><i class="ss-icon">&#xF601;</i></span>
						CRYPTON IRC</h4>
					<p class="box-info">irc://irc.oftc.net:6667 #crypton</p>
				</a>
			</div>
		</div>
	</div>
</div>