<%
	title="Crypton.io | Documentation"
	currentBody="body-documentation"
	selected="selected"
%>


<div class="wrapper no-bg">
	<div class="container">
		<div class="row">
			<h1 class="smaller dark box col2">Documentation</h1>
		</div>
		<div class="row">
			<div class="box rounded three col2">
			<a href="/docs/accounts">
				<h3 class="box-subheading">
					<span class="icon"><i class="ss-icon">&#x1F46C;</i></span>
					ACCOUNTS</h4>
				<p class="box-info">Each user of a Crypton app must have an account.</p>
			</a>
			</div>
			<div class="box rounded three">
			<a href="/docs/accounts#sessions">
				<h3 class="box-subheading">
					<span class="icon"><i class="ss-icon">&#xEB85;</i></span>
					SESSIONS</h4>
				<p class="box-info">A session is necessary for requesting and receiving data.</p>
			</a>
			</div>
		</div>
		<div class="row">
			<div class="box rounded three col2">
			<a href="">
				<h3 class="box-subheading">
					<span class="icon"><i class="ss-icon">&#x1F4E5;</i></span>
					CONTAINERS</h4>
				<p class="box-info">Data in Crypton is treated as a traditional object database. Containers are append-only stores that are transparently encrypted on the client side.</p>
			</a>
			</div>
		</div>
	</div>
</div>