<%
	title="Crypton.io | Examples"
	currentBody="body-examples"
	selected="selected"
%>

<div class="wrapper no-bg center">
	<div class="container">
		<div class="row">
			<h1 class="smaller dark box col2">Examples</h1>
		</div>

		<div class="row">
			<div class="box rounded three col2">
				<a href="https://data.crypton.io/">
					<h3 class="box-subheading">
						<span class="icon"><i class="ss-icon ss-symbolicons-line">&#xED50;</i></span>
						DATA EXPLORER</h4>
					<p class="box-info">View Code</p>
				</a>
			</div>
			
			<div class="box rounded three">
				<a href="https://github.com/SpiderOak/crypton/tree/master/client/examples/diary">
					<h3 class="box-subheading">
						<span class="icon"><i class="ss-icon ss-symbolicons-line">&#x1F4D3;</i></span>
						DIARY</h4>
					<p class="box-info">View Code</p>
				</a>
			</div>
		</div>
	</div>
</div>