    </div>
    <footer>
      <p class="small">Crypton and this site are &copy;2013 <a href="https://spideroak.com">SpiderOak, Inc.</a></p>
      <p class="small">
        <a href="https://spideroak.com/community/">Social Media</a> • 
        <a href="https://spideroak.com/blog/">Blog</a> •
        <a href="https://github.com/SpiderOak/crypton">Crypton GitHub</a>
      </p>
      <p class="small">
        <a href="https://spideroak.com/privacy_policy">Privacy Policy</a> •
        <a href="https://spideroak.com/terms_of_use">Terms of Use</a>
      </p>
      <img src="/images/zero_knowledge_privacy_seal.png" style="margin: 0 auto; padding: 15px;" />
    </footer>
    </div>
  </body>
</html>
