<% 
	title="Crypton.io"
	currentBody="body-index"
	selected="selected"
%>
<div class="wrapper bg">
	<div class="container center">
		<h1>Giving privacy to the internet</h1>
		<h2>Easily build cryptographically secure cloud applications</h2>
		<div class="row">
			<div class="box-center">
				<a href="" class="button large orange">Build an App</a>
				<a href="" class="button large silver">Contribute</a>
			</div>
		</div>
	</div>
	<div class="temp-marker"></div>
</div>
<div class="wrapper no-bg padd20">
	<div class="container center">
		<div class="row content">
			<div class="box three">
				<h3>
					<span class="icon"><i class="ss-icon ss-symbolicons-line">&#xF033;</i></span>
				BUILT BY DEVELOPERS<br />FOR DEVELOPERS</h3>
				<p>Crypton is for developers who want to build privacy into their apps. Crypton allows developers to provide customers a truly private storage and collaboration environment with no access to unencrypted customer data, without having to rely on 3rd party security layers or post development hacks.</p>
			</div>
			<div class="box three">
				<h3>
					<span class="icon"><i class="ss-icon ss-symbolicons-line">&#x1F512;</i></span>
				EASILY DEVELOP<br />ZERO-KNOWLEDGE APPS</h3>
				<p>More people are becoming "privacy aware." Enterprises refuse to adopt solutions where the developer and service provider can access critical internal data. Crypton is the first application framework that provides a foundation for building zero-knowledge cloud products.</p>
			</div>
			<div class="box three">
				<h3>
					<span class="icon"><i class="ss-icon ss-symbolicons-line">&#xE7A0;</i></span>
				BUILT TO SCALE<br />WITH YOUR APP</h3>
				<p>Built on PostgreSQL and node.js, Crypton was built with the intention of being horizontally scalable. Privacy doesn't have to be a pain.</p>
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="box two left">
				<h3 class="bigger">Ready to get started with Crypton?</h3>
				<p>Building your first app with Crypton is easy. With a guide to set up all dependencies and Crypton's simple CLI tool, you can have an app running in 5 minutes.</p>

				<div>
					<a href="getting-started" class="button orange">Get Started</a>
				</div>
			</div>
			<div class="box two right">
				<img src="/images/getting-started-with-crypton.png" alt="Getting Started with Crypton" />
			</div>
		</div>

		<hr class="underline" />

		<div class="row">
			<div class="box two left">
				<img src="/images/index-documentation.png" alt="Dive into documentation" />
			</div>
			<div class="box two left">
				<h3 class="bigger">Ready to dive into the documentation?</h3>
				<p>Crypton is well-documented for beginners looking to understand basic concepts. For more advanced users, Crypton provides features like realtime end-to-end encrypted messaging and custom transactions. Why not take a peek?</p>
				<div>
					<a href="/documentation" class="button orange">See Documentation</a>
				</div>
			</div>
		</div>

		<hr class="underline" />

		<div class="row">
			<div class="box two left">
				<h3>Ready to build an app with Crypton?</h3>
				<p>The Developer Guide will walk you through concepts used in the framework and while writing applications using the framework, as well as possible deployment options and threat models.</p>
				<div>
					<a href="/developer-guide" class="button orange">View the Developer Guide</a>
				</div>
			</div>

			<div class="box two right">
				<img src="/images/build-an-app-with-crypton.png" alt="Build an app with Crypton" />
			</div>
		</div>

		<hr class="underline" />

		<div class="row featured-wrapper">
			<h4>FEATURED ON</h4>
			<a href="" title="Crypton in ">
				<img class="featured-img" src="/images/wired-logo.png" />
			</a>
			<a href="" title="Crypton in ">
				<img class="featured-img" src="/images/cso-logo.png" />
			</a>
			<a href="" title="Crypton in ">
				<img class="featured-img" src="/images/cw-logo.png" />
			</a>
			<a href="" title="Crypton in ">
				<img class="featured-img" src="/images/pcw-logo.png" />
			</a>
			<a href="" title="Crypton in ">
				<img class="featured-img" src="/images/iw-logo.png" />
			</a>
		</div>

	</div>
</div>
<!-- TODO: 
	* Add Featured On footer.
	* Add video/slideshow to top.
-->
