<% 
	title="Crypton.io"
	currentBody="index"
%>
<div class="wrapper bg">
	<div class="container">
		<h1>Giving pricavy to the internet</h1>
		<h2>Easily build cryptographically secure cloud applications</h2>
	</div>
	<div class="temp-spacer"></div>
</div>
<div class="wrapper no-bg">
	<div class="container">
		<div class="row content">
			<div class="box three">
				<h3>BUILT BY DEVELOPERS<br />FOR DEVELOPERS</h3>
				<p>Crypton is for developers who want to build privacy into their apps. Crypton allows developers to provide customers a truly private storage and collaboration environment with no access to unencrypted customer data, without having to rely on 3rd party security layers or post development hacks.</p>
			</div>
			<div class="box three">
				<h3>EASILY DEVELOP<br />ZERO-KNOWLEDGE APPS</h3>
				<p>More people are becoming "privacy aware." Enterprises refuse to adopt solutions where the developer and service provider can access critical internal data. Crypton is the first application framework that provides a foundation for building zero-knowledge cloud products.</p>
			</div>
			<div class="box three">
				<h3>BUILT TO SCALE<br />WITH YOUR APP</h3>
				<p>Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus.</p>
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="box two left">
				<h3 class="bigger">Ready to get started with Crypton?</h3>
				<p>Building your first app with Crypton is easy. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Cras mattis consectetur purus sit amet fermentum.</p>
		</div>
		<div class="box two right">
			<img src="/images/getting-started-with-crypton.png" alt="Getting Started with Crypton" />
		</div>
	</div>

	<hr />

	<div class="row">
		<div class="box two left">
			<img src="/images/index-documentation.png" alt="Dive into documentation" />
		</div>
		<div class="box two left">
			<h3 class="bigger">Ready to dive into the documentation?</h3>
			<p>Our documentation clearly outlines how to use Crypton. Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue.</p>
		</div>
	</div>

	<hr />

	<div class="row">
		<div class="box two left">
			<h3>Ready to build an app with Crypton?</h3>
			<p>Crypton has a novel system architecture which builds on familiar concepts. Our Developers section will help developers ready to build their first app with Crypton to familiarize themselves with these concepts and how we use them in Crypton. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis.</p>
		</div>

		<div class="box two right">
			<img src="/images/build-an-app-with-crypton.png" alt="Build an app with Crypton" />
		</div>
	</div>
</div>
