{% include head.html %}
  <div class="row text-center">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>{{ page.title }}</h1>
      <p class="meta">
        <span class="date">{{ page.date | date: "%B %-d, %Y" }}</span>
        by
        <span class="author">
          <a href="/blog/authors/{{ page.author }}.html">{{ site.data.authors[page.author].name }}</a>
        </span>
      </p>
    </div>
  </div>

  <div class="row text-justify">
    <div class="col-lg-8 col-lg-offset-2">
      {{ content }}
    </div>
  </div>

{% include foot.html %}
