{% include head.html %}

  <div class="row" id="docs">
    <div class="col-lg-3 col-md-3 col-sm-3 pull-right">
      <div data-spy="affix" data-offset-top="100">
        <ul class="nav">
          <li><a href="/docs">Introduction</a></li>
          <li><a href="/docs/installation.html">Installation</a></li>
          <li><a href="/docs/getting-started.html">Getting Started</a></li>
          <li><a href="https://github.com/SpiderOak/crypton/tree/master/client/examples" target="blank">Examples</a></li>
          <li>
            <span class="section">Concepts</span>
            <ul class="nav">
              <li><a href="/docs/concepts/accounts.html">Accounts</a></li>
              <li><a href="/docs/concepts/sessions.html">Sessions</a></li>
              <li><a href="/docs/concepts/containers.html">Containers</a></li>
              <li><a href="/docs/concepts/containers.html">Inbox</a></li>
              <li><a href="/docs/concepts/sharing.html">Sharing</a></li>
            </ul>
          </li>
          <li>
            <span class="section">Security</span>
            <ul class="nav">
              <li><a href="/docs/security/model.html">Model</a></li>
              <li><a href="/docs/security/audits.html">Audits</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 content text-justify pull-left">
      {{ content }}
    </div>

  </div>

{% include foot.html %}
